.label-sm, .font-sm {
    font-size: 13px !important;
}

.label-xs, .font-xs {
    font-size: 10px !important;
}

.bord-r-white {
    border-right: 1px solid #fff !important;
}

.bord-l-white {
    border-left: 1px solid #fff !important;
}

.bord-t-white {
    border-top: 1px solid #fff !important;
}

.badge-warning-black, .label-warning-black {
    color: #212529 !important;
    background-color: #ffc107 !important;
}